.consignment_account_stock_list [data-name="product_id"]{
    width: 180px !important;
}
.consignment_account_stock_list [data-name="purchased_qty"]{
    width: 100px !important;
}
.consignment_account_stock_list [data-name="sold_qty"]{
    width: 100px !important;
}
.consignment_account_stock_list [data-name="scrapped_qty"]{
    width: 100px !important;
}
.consignment_account_stock_list [data-name="remaining_qty"]{
    width: 100px !important;
}
.account_stock_scrap_line [data-name="analytic_account_id"]{
    width: 160px !important;
}
.account_stock_scrap_line [data-name="product_id"]{
    width: 140px !important;
}
.account_stock_scrap_line [data-name="purchased_qty"]{
    width: 120px !important;
}
.account_stock_scrap_line [data-name="sold_qty"]{
    width: 100px !important;
}
.account_stock_scrap_line [data-name="scrapped_qty"]{
    width: 120px !important;
}
.account_stock_scrap_line [data-name="to_scrap_qty"]{
    width: 110px !important;
}
.account_stock_scrap_line [data-name="scrap_reason"]{
    width: 140px !important;
}